<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.udacity.gradle.flavorspecificactivity.paid.JokeActivity"
            android:label="@string/title_activity_joke" />
    </application>

</manifest>
