<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <!-- V2: Start of v2 section -->
        <servlet-name>EndpointsServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
        <!-- V2: End of v2 section -->
        <init-param>
            <param-name>services</param-name>
            <param-value>com.udacity.gradle.builditbigger.backend.MyEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <!-- V2: Start of v2 section -->
        <servlet-name>EndpointsServlet</servlet-name>
        <url-pattern>/_ah/api/*</url-pattern>
        <!-- V2: End of v2 section -->
    </servlet-mapping>
</web-app>